@page "/person/{Id}"

@inject IDataRepository dataRepository

<h1>@person.FirstName @person.MiddleName @person.LastName</h1>

<h2>@(born ?? "Somehow not alive?")</h2>

@if (died != null)
{
    <h2>@(died)</h2>
}

@if (partners.Any())
{
    <h2>@(partners)</h2>
}

@if (children != null)
{
    <h2>@(children)</h2>
}

@if (parents != null)
{
    <h2>@(parents)</h2>
}

<MudTimeline>
    @for (int i = 0; i < events.Count; i++)
    {
        var alignment = (i % 2 == 0) ? Align.Left : Align.Right;
        var currentEvent = events[i];

        <MudTimelineItem Color="Color.Info" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">@currentEvent.DateTime.ToString("MM/dd/yyyy")</MudText>

                @if (places.Any(place => place.Id == currentEvent.PlaceId))
                {
                    <MudText Color="Color.Info" Typo="Typo.h6">@places.Single(place => place.Id == currentEvent.PlaceId).Name</MudText>
                }
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Info" Align="alignment" Typo="Typo.h6" GutterBottom="true">@currentEvent.EventType</MudText>

                @if (!string.IsNullOrWhiteSpace(currentEvent.Description))
                {
                    <MudText Align="alignment">@currentEvent.Description</MudText>
                }
            </ItemContent>
        </MudTimelineItem>
    }
</MudTimeline>

@code {
    [Parameter]
    public string Id { get; set; }

    Person person;
    List<Event> events;
    List<Place> places;
    string partners = null;
    string born = null;
    string died = null;
    string children = null;
    string parents = null;

    protected override async Task OnInitializedAsync()
    {
        person = dataRepository.Query<Person, Person>(person => person.Id == Id).Single();
        events = dataRepository.Query<Event, Event>(x => person.EventLinks.Any(y => y.Id == x.Id)).OrderBy(x => x.DateTime).ToList();
        places = dataRepository.Query<Place, Place>(place => events.Any(x => x.PlaceId == place.Id)).ToList();

        SetBornText();
        SetDiedText();
        SetFamilyText();
        SetParentText();
    }

    private void SetBornText()
    {
        Event birthday = events.SingleOrDefault(x => x.EventType == EventType.Birth);
        bool isDead = events.SingleOrDefault(x => x.EventType == EventType.Death) != null;

        if (birthday == null)
        {
            born = "Born: Somehow not alive?";
            return;
        }

        StringBuilder bornTextBuilder = new StringBuilder();
        int age = DateTime.Now.Year - birthday.DateTime.Year;

        if (birthday.DateTime > DateTime.Now.AddYears(-age))
        {
            age--;
        }

        if (isDead)
        {
            bornTextBuilder.Append($"Born: {birthday.DateTime.ToString("MMMM dd, yyyy")}");
        }
        else
        {
            bornTextBuilder.Append($"Born: {birthday.DateTime.ToString("MMMM dd, yyyy")} (age {age})");
        }

        if (birthday.PlaceId != null)
        {
            Place birthPlace = places.Single(place => place.Id == birthday.PlaceId);
            bornTextBuilder.Append($" {birthPlace.Name}");
        }

        born = bornTextBuilder.ToString();
    }

    private void SetDiedText()
    {
        Event death = events.SingleOrDefault(x => x.EventType == EventType.Death);

        if (death == null)
        {
            return;
        }

        Event birthday = events.SingleOrDefault(x => x.EventType == EventType.Birth);
        StringBuilder diedTextBuilder = new StringBuilder();
        int age = death.DateTime.Year - birthday.DateTime.Year;

        if (birthday.DateTime > DateTime.Now.AddYears(-age))
        {
            age--;
        }

        diedTextBuilder.Append($"Died: {death.DateTime.ToString("MMMM dd, yyyy")} (aged {age})");

        if (death.PlaceId != null)
        {
            Place deathPlace = places.Single(place => place.Id == death.PlaceId);
            diedTextBuilder.Append($" {deathPlace.Name}");
        }

        died = diedTextBuilder.ToString();
    }

    private void SetFamilyText()
    {
        var family = dataRepository.Query<Family, Family>(family => family.Id == person.FamilyIds.First()).FirstOrDefault();

        if (family == null)
        {
            return;
        }

        var partner = dataRepository.Query<Person, Person>(person => person.Id == family.MotherId).SingleOrDefault();

        if (partner != null)
        {
            partners = $"Spouse: {partner.FirstName}";
        }

        var children = dataRepository.Query<Person, Person>(person => family.Children.Any(child => child.Id == person.Id));

        if (children.Any())
        {
            this.children = $"Children: {string.Join(", ", children.Select(child => child.FirstName))}";
        }        
    }

    private void SetParentText()
    {
        var parentFamily = dataRepository.Query<Family, Family>(family => family.Children.Any(child => child.Id == person.Id)).SingleOrDefault();

        if (parentFamily == null)
        {
            return;
        }

        var father = dataRepository.Query<Person, Person>(person => person.Id == parentFamily.FatherId).SingleOrDefault();
        var mother = dataRepository.Query<Person, Person>(person => person.Id == parentFamily.MotherId).SingleOrDefault();

        var parentsBuilder = new StringBuilder("Parents: ");

        if (father != null)
        {
            parentsBuilder.Append($"{father.FirstName} {father.MiddleName} {father.LastName}, ");
        }

        if (mother != null)
        {
            parentsBuilder.Append($"{mother.FirstName} {mother.MiddleName} {mother.LastName}");
        }
        else
        {
            parentsBuilder.Remove(parentsBuilder.Length - 2, 2);
        }

        parents = parentsBuilder.ToString();
    }
}
